
/* FORM CUSTOM STYLESHEETS */

.container-form {
    background: #f8f9fa;
    border: 1px solid white;
    box-shadow: 0px 0px 5px 0px rgba(180, 180, 207, 0.75);
    border-radius: 5px;
    color: #212121;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-title {
    color: #292d33;
    font-weight: 600;
    font-size: 2.2rem;
}

.form-group {
    margin-bottom: 2rem;
    color: rgba(180, 180, 207, 0.75);
    font-style: italic;
}

.form-title-input {
    color: rgba(180, 180, 207, 0.75);
    font-weight: 500;
    font-size: 1.1rem;
    position: relative;
    bottom: 35px;
    left: 10px;
    transition: all 0.5s ease-in-out;
}

input:focus~label,
input:valid~label {
    bottom: 65px;
    font-size: 1rem;
    color: #292d33;
}

label.required::after {
    content: "*";
    color: #292d33;
    margin-left: 4px;
}
input[type="password"],
input[type="text"],
input[type="email"],
textarea {
    background: #f8f9fa;
    border-radius: 0% !important;
    border: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #292d33 !important;
    resize: none;
}

.textarea-counter {
    color: #292d33;
}

.error {
    color: rgb(201, 48, 21);
    font-size: 14px;
    font-weight: 400;
}

.title-emoji-anim {
    animation: emoji-anim 1s ease-in-out infinite;
}



@keyframes emoji-anim {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 5px);
    }

    100% {
        transform: translate(0, 0);
    }
}